body{
	background-image: url('dna.jpeg');
	background-position: center;
	opacity: 0.9;
}

.corpo{
	margin: 20px;
	padding: 15px;
	border-radius: 4px;
	background-color: #FFFFFF;
}

.actions{
	margin-top: 10px;
}
input[type="submit"] {
   font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.botao{
	float: left; 
	margin-right: 10px;
}

.login{
	width: 400px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 30px;
	margin-top: 7%;
}
